body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
}

#topbar {
    margin: 0 auto;
    width: 1000px;
    height: 40px;
}

#logo {
    width: 100px;
    float: left;
    position: relative;
    margin-right: 5px;
    top: 5px;
}

.topbar-section {
    height: 100%;
    float: left;
    border-left: 1px #CCCCCC solid;
}

#signin-img {
    width: 25px;
    float: left;
    position: relative;
    top: 8.5px;
    margin: auto 15px;
}

#signin-text {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 90%;
    font-weight: bold;
    position: relative;
    top: 10px;  
    margin-right: 65px;
}
#wiggle {
    height: 100%;
    float: left;
}

#bell {
    width: 25px;
    position: relative;
    float: left;
    top: 8.5px;
    margin: auto 8px;

}

#text {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 90%;
    font-weight: bold;
    position: relative;
    top: 10px;  
    margin: auto 15px;
}

#arrow {
    width: 15px;
    float: left;
    position: relative;
    top: 12.5px;
    margin: auto 15px;
}

#search {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    float: left;
    background-color: #E4E4E4;  
    padding: 6px;
    margin: 5px 0 5px 5px;
    border: none;
}

#glass {
    width: 30px;
    position: relative;
    top: 5px;
}

#menubar1 {
    width: 100%;
    height: 60px;
    background-color: #BB1818;
}

#bar1 {
    width: 1000px;
    margin: 0 auto;
}

#bar1 h1 {
    float: left;
    margin: 0;
    padding-top: 10px;
    font-weight: normal;
    font-size: 40px;
    color: #FFFFFF;
}

#localnews {
    float: right;
    border: 1px #BB4545 solid;
    width: 250px;
    padding: 5px 5px 0 10px;
    margin: 5px 0 0 0;
}

#localnews a {
    font-size: 30px;
    color: #FFFFFF;
    position: relative;
    top: -5px;
}

#pointer {
    width: 30px;
}
#menubar2 {
    width: 100%;
    height: 40px;
    background-color: #A91716;
}

#home {
    height: 50%;
    float: left;
    position: relative;
    top: 10px; 
    margin-right: 15px;
    font-size: 13px;
    color: #FFFFFF;
}
.menubar-section {
    height: 50%;
    float: left;
    position: relative;
    top: 10px;
    border-left: 1px #BB4545 solid;
}

#option {
    margin: 0 15px;
    font-size: 13px;
    color: #FFFFFF;
}

#down-arrow {
    width: 10px;
    position: relative;
    top: 10px;
}

#technology {
    height: 40px;
    width: 1000px;
    margin: 0 auto;
}

#technology h1 {
    font-size: 20px;
    font-weight: normal;
    border-bottom: 2px solid #A91716;
    width: 102px;
}

#articles {
    width: 1000px;
    margin: 0 auto;
}

#big-post-container {
    width: 660px;
    float: left;
    position: relative;
}

.hit-title {
    font-size: 30px;
    margin-top: 0;

}
#asda {
    width: 400px;
    float: right;
}

.brief {
    width: 40%;
    color: #5A5A5A;
}

#time-date {
    height: 40px;
}

#clock {
    width: 20px;
    float: left;
    
}
#date {
    float: left;
    color: #5A5A5A;
    position: relative;
    top: 2px;
    margin: 0 6px;
}
.small-section {
    float: left;
    border-left: 1px #CCCCCC solid;
}

#tech {
    margin-left: 6px;
    color: #BB4545;
    position: relative;
    top: 2px;
}

#separator {
    width: 50px;
    border-bottom: 1px solid #A91716;
    margin-bottom: 25px;
}

.big-section {
    float: left;
    border-left: 1px #CCCCCC solid;
    margin-left: 20px;
    width: 315px;
    height: 290px;
}

#video-list {
    margin-left: 15px;
}

#video-list h1 {
    font-size: 24px;
    font-weight: normal;
    margin-top: 0;
}

#first-video {
    position: relative;  
    margin-right: 18px;  
}

#video-img {
    width: 90px;
    margin-top: 15px;
}

#content-brief {
    width: 180px;
    float: right;
    position: relative;
    top: 13px;
}

#quick-title{
    font-size: 15px;    
    font-weight: bold;
}

#time-brief {
    margin-top: 5px;
    font-size: 13px;
    color: #5a5a5a;   
    margin-bottom: 5px; 
}

#clock-brief {
    position: relative;
    top: 2px;
    width: 15px;
    margin-right: 5px;
}

#second-video {
    width: 280px;
    position: relative;    
    top: 15px;
}

#third-video {
    width: 280px;
    position: relative;    
    top: 30px;
}

