

#heading {
  text-align: center;
  background-color: #aec6cf;
  padding: 25px;

}
#title {
  font-size: 40px;
}
.main {
  margin: 10px 300px;
  line-height: 1.5;
  word-spacing: 3px;
  font-size: 17px;
  font-family: 'Tajawal', sans-serif;
}

#img-div {  
 margin: 20px;
 padding: 50px;
 background: white;
 text-align: center;
}

#image {
 max-width: 600px;
  width: 100%;
 height: auto;
 display: block;
  margin: auto;
}

.intro {
  
}

#charity {
  text-align: center;
  font-family: 'Roboto Mono', monospace;
}
#char-pa {
  font-size: 15px;
}
.ending {
  text-align: center;
  background-color: #aec6cf;
  padding: 25px;
}
#text {
  color: white;
  margin: 20px 300px;
  line-height: 1.5;
  word-spacing: 3px;
  font-size: 16px;
  font-family: 'Tajawal', sans-serif;
  text-align: center;
  opacity: 0.8;
}
